@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara&display=swap');


body {
  margin: 0;
  font-family: 'Hind Vadodara', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F5F5F5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
  list-style-type: none;
}

ul {
  list-style-type: none;
}

.flex-component {
  display: flex;
}

.flex-container {
  display: flex;
  padding-right: 35px;
}

.flex-item1 {
  width:250px;
  font-weight: normal;
  font-size: 18px;
}

.flex-item-description {
  width:250px;
  font-weight: lighter;
  font-size: 14px;
  color: grey;
}

.flex-item2 {
  width:100px;
  font-weight: normal;
  font-size: 14px;
}

.flex-main-list {
  width:350px;
}

.flex-order {
  width: 400px;
  background-color: white;
  /* padding: 10px; */
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
}

.flex-empty-left {
  width: 300px;
}

.order-bar {
  font-size: 25px;
  /* padding-left: 10px; */
}

.flex-container > div {
  margin: 50px;
}

.food-bar {
  background-color: white;
  padding: 10px;


}

hr {
  border:none;
  border-top:1px dotted #808080;
  color:#fff;
  background-color:#fff;
  height:1px;
  width:100%;
  position: relative;
  margin-right: 100px;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: flex;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
  float: right;
}

.Collapsible {
  font-size: 25px;
  background-color: white;
  padding: 10px;
  border-style: solid;
  border-color: #D3D3D3;
  border-width: 1px;
}

.bar-spacing {
  padding-bottom: 10px;
}

.delete-button-padding {
  padding-left: 10px;
}

.price-right {
  float: right;
  margin-right: 20px;
}

.button-left {
  margin-left: 20px;
}

.total-order-text {
  font-size: 20px;
  margin-left: 200px;
}

.total-amount {
  font-size: 20px;
  margin-right: 20px;
  float: right;
}
